@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  outline: none !important;
}

.custom-container {

  @apply

    mx-auto px-4 w-[1296px]
    max-pc:w-[936px]
    max-pc:!px-0
    max-lg:w-[696px]
    max-md:w-[351px]

  ;

}

button, a, span {
  font-family: inherit !important;
}


html, body {
  min-height: 100%;
}
.main {
  @apply pt-[84px] max-md:pt-[60px] flex flex-col w-full h-full;
  
  .content {
    display: block;
    min-height: calc(100vh - 277px);
  }
}

body {
  
  background: #232323;
  color: #fff;

}