@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {

  @apply

    mx-auto max-w-[1328px] px-4
    max-lg:max-w-none max-lg:px-11
    max-md:px-9
    max-xs:!px-3
    w-full

  ;

}

button, a, span {
  font-family: inherit !important;
}


html, body {
  min-height: 100%;
}
.main {
  @apply pt-[84px] max-sm:pt-[60px] flex flex-col w-full h-full;
  
  .content {
    display: block;
    min-height: calc(100vh - 277px);
  }
}

body {
  
  background: #232323;
  color: #fff;

}